@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --main: mediumseagreen;
    --hover: rgb(77, 184, 148);
    --dark: #212121;
    --gray: #2f2f2f;
    --light: #fff;
    --lightgray: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f4f4f4;
    transition: all .3s ease;
}

.container-checkbox input {
    cursor: pointer;
    opacity: 0;
}

.container-checkbox .checkmark {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #eee;
}

.container-checkbox:hover input ~ .checkmark {
    background-color: var(--lightgray);
}

.container-checkbox input:checked ~ .checkmark {
    background-color: var(--hover);
}

.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox .checkmark.active:after {
    display: block;
}

.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9.5px;
    top: 6px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#feature {
    margin-top: 150px;
}

#feature .row {
    row-gap: 20px;
}

#feature .row .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 250px;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

/* Custom Loader */
.custom-loader {
    width: 22px;
    height: 22px;
    display: grid;
    animation: s4 4s infinite;
}

.custom-loader::before,
.custom-loader::after {
    content:"";
    grid-area: 1/1;
    border:3px solid;
    border-radius: 50%;
    border-color:#FFFFFF #FFFFFF #0000 #0000;
    mix-blend-mode: darken;
    animation: s4 1s infinite linear;
}

.custom-loader::after {
    border-color:#0000 #0000 var(--light) var(--light);
    animation-direction: reverse;
}

@keyframes s4{ 
    100%{transform: rotate(1turn)}
}

/* Navbar */
.navbar {
    z-index: 199;
    background-color: var(--light);
    transition: all .5s ease;
}

.navbar .container-md {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar .container-md .navbar-toggler {
    background-color: var(--main);
    transition: all 0.3s ease-in;
}

.navbar .container-md .navbar-toggler .fa-chevron-down {
    font-size: 15px;
    color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar .container-md .navbar-toggler .fa-chevron-down:hover {
    color: white;
}

.navbar .container-md .navbar-toggler:hover {
    background-color: var(--hover);
}

.navbar .container-md .navbar-toggler:focus {
    box-shadow: unset;
    background-color: var(--hover);
}

.navbar .container-md .navbar-toggler:focus .fa-chevron-down {
    color: white;
}

body.mode-color .navbar .container-md .navbar-collapse {
    background-color: var(--dark);
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: var(--main);
    font-size: 14.5px;
    padding-bottom: 6px;
    margin-bottom: 3px;
    position: relative;
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item:last-child .nav-link {
    width: 110px;
    text-align: center;
    background-color: var(--main);
    color: var(--light);
    border: 1.5px solid var(--main);
    transition: all .4s ease-in-out;
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item:last-child .nav-link:hover {
    background-color: transparent;
    color: var(--main);
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item:last-child .nav-link:hover::after {
    width: 0%;
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    transition: width .4s ease;
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link:after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main);
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link.active:after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main);
}

.header {
    padding-top: 100px;
    background-image: url('./leaf.png');
    background-position-y: 25px;
    background-repeat: no-repeat;
    background-size: cover; 
}

.header-container {
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container .col {
    row-gap: 30px;
}

.header-container .col div .display-2 {
    color: #333;
}

body.mode-color .header-container .col div .display-2 {
    color: var(--lightgray);
}

.header-container .col div p {
    color: #555;
}

body.mode-color .header-container .col div p {
    color: #ccc;
}

.header-container .btn-explore {
    border: 2px solid var(--main);
    font-size: 14px;
    padding: 7px 35px;
    position: relative;
    text-transform: capitalize;
    letter-spacing: 1px;
    overflow: hidden;
    outline: none;
    color: #333;
}

.header-container .btn-explore span {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    background-color: var(--main);
    transition: width .8s ease 0s,
    height .8s ease 0s;
}

.header-container .btn-explore:hover span {
    width: 500px;
    height: 500px;
}

.header-container .btn-explore:hover {
    color: #fff;
}

.header-container .btn-explore:active {
    transform: scale(0.95);
    transition: transform .1s ease;
}

.header-container .btn-explore:focus {
    box-shadow: unset;
}

.header-container .header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container .header-right .card {
    height: 380px;
    width: 270px;
    background-color: white;
}

/* sidebar */
#project_section #sidebar {
    height: 100%;
    background-color: var(--light);
    width: 20%;
    z-index: 899;
    position: fixed;
    top: 0;
    left: 0px;
}

#project_section #sidebar .mdi-backburger {
    color: #333;
}

body.mode-color #project_section #sidebar .mdi-backburger {
    color: var(--lightgray);
}

body.mode-color #project_section #sidebar {
    background-color: var(--dark);
}

#project_section #sidebar #search span input:focus {
    border: 1px solid var(--main);
}

#project_section #sidebar #search span input {
    padding-left: 35px;
    font-size: 14px;
    height: 40px;
    font-weight: normal;
    caret-color: var(--hover);
    color: #333;
    letter-spacing: .5px;
}

body.mode-color #project_section #sidebar #search span input {
    background-color: var(--dark);
    color: #eee;
}

#project_section #sidebar #search span i {
    font-size: 12.5px;
    top: 50%;
    transform: translate(13px, -50%);
    color: gray;
}

#project_section #sidebar #tags {
    height: 535px;
    padding-bottom: 1.75rem;
}

#project_section #sidebar #tags #tag {
    cursor: pointer;
    background-color: var(--light);
    overflow: hidden;
}

body.mode-color #project_section #sidebar #tags #tag {
    background-color: var(--dark);
    color: var(--lightgray);
}

#project_section #sidebar #tags div .mdi-plus {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#project_section #sidebar #tags #createTag {
    height: 100%;
    /* overflow-y: scroll; */
    cursor: pointer;
}

#project_section #sidebar #tags #createTag .mdi-plus {
    color: var(--gray);
}

body.mode-color #project_section #sidebar #tags #createTag .mdi-plus {
    color: var(--lightgray);
}

#project_section #main {
    width: calc(100% - 21%);
    transition: width .3s ease;
}

#project_section #main #insert {
    width: 50%;
    position: fixed;
    bottom: 40px;
    right: 50%;
    transform: translateX(70%);
    display: none;
    z-index: 99;
}

#project_section #main #insert .btn-group {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 55px;
}

#project_section #main #insert .btn-group input {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    caret-color: var(--hover);
    color: #444;
}

body.mode-color #project_section #main #insert .btn-group input {
    background-color: var(--dark);
    border-color: var(--dark);
    color: #eee;
}

#project_section #main #insert .btn-group input::placeholder {
    font-size: 14.5px;
}

body.mode-color #project_section #main #insert .btn-group input::placeholder {
    color: #eeeeeea8;
}

#project_section #main #insert .btn-group input:focus {
    border: 1px solid var(--hover);
}

#project_section #main #insert .btn-group button {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#project_section #main #insert .btn-group button i {
    display: block;
    font-size: 25px;
    transform: translateX(-1px);
}

body.mode-color #project_section #main #top .modal .modal-dialog .modal-content {
    background-color: var(--gray);
}

body.mode-color #project_section #main #top .modal .modal-dialog .modal-content .modal-header .modal-title {
    color: var(--light);
}

body.mode-color #project_section #main #top .modal .modal-dialog .modal-content .modal-header button {
    background-color: var(--light);
}

#project_section #main #top .modal .modal-dialog .modal-content form .modal-body .col-form-label {
    font-size: 13.5px;
    letter-spacing: .3px;
}

body.mode-color #project_section #main #top .modal .modal-dialog .modal-content form .modal-body input {
    background-color: var(--gray);
    color: var(--lightgray);
}

body.mode-color #project_section #main #top .modal .modal-dialog .modal-content form .modal-body textarea {
    background-color: var(--gray);
    color: var(--lightgray);
}

#project_section #main #top .modal .modal-dialog .modal-content form .modal-body .form-control {
    font-size: 14px;
    color: #333;
    padding: 10px;
    caret-color: var(--main);
}

#project_section #main #top .modal .modal-dialog .modal-content form .modal-body .form-control:focus {
    border: 1px solid var(--main);
}

#project_section #main #top .modal .modal-dialog .modal-content .modal-header h1 {
    font-size: 18px;
    color: #333;
}

#project_section #main #top .modal .modal-dialog .modal-content .modal-footer button {
    font-size: 14px;
    letter-spacing: .5px;
}

#project_section #main #top .modal .modal-dialog .modal-content .modal-footer button:focus {
    box-shadow: unset;
}

#project_section #main #top #labels {
    background-color: var(--light);
    width: 230px;
}

#project_section #main #top #recent_tag {
    cursor: pointer;
    background-color: var(--light);
    width: 250px;
    overflow: hidden;
}

body.mode-color #project_section #main #top #recent_tag {
    background-color: var(--dark);
}

#project_section #main #lists #list_container {
    height: 400px;
}

#project_section #main #lists #list_container #new_list_icon {
    transform: translateY(30px);
	animation: float 5s ease-in-out infinite;
}

#project_section #main #lists #list_container #new_list_icon i {
    color: var(--main);
}

@keyframes float {
	0% {
		transform: translateY(30px);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(30px);
	}
}

#project_section #main #lists #list_container .mdi-format-list-checks {
    font-size: 50px;
}

#project_section #main #lists #list_container .list,
#project_section #main #lists #complete_container #complete_list_container .list {
    background-color: var(--light);
}

body.mode-color #project_section #main #lists #list_container .list,
body.mode-color #project_section #main #lists #complete_container #complete_list_container .list {
    background-color: var(--dark);
}

body.mode-color #project_section #main #lists #list_container .list .col-lg-10 input,
body.mode-color #project_section #main #lists #complete_container #complete_list_container .list .col-lg-10 input {
    color: var(--lightgray);
    background-color: transparent;
}

body.mode-color #project_section #main #lists #list_container .list .col-2 .mdi-delete-outline:hover,
body.mode-color #project_section #main #lists #complete_container #complete_list_container .list .col-2 .mdi-delete-outline:hover,
#project_section #main #lists #list_container .list .col-2 .mdi-delete-outline:hover,
#project_section #main #lists #complete_container #complete_list_container .list .col-2 .mdi-delete-outline:hover {
    color: red;
    transition: all .4s ease;
}

body.mode-color #project_section #main #lists #list_container .list .col-2 .mdi-square-edit-outline:hover,
#project_section #main #lists #list_container .list .col-2 .mdi-square-edit-outline:hover,
body.mode-color #project_section #main #lists #list_container .list .col-2 .mdi-content-save:hover,
#project_section #main #lists #list_container .list .col-2 .mdi-content-save:hover {
    color: var(--main);
    transition: all .4s ease;
}

body.mode-color #project_section #main #lists #complete_container #complete_list_container .list .col-2 .mdi-information-outline:hover,
#project_section #main #lists #complete_container #complete_list_container .list .col-2 .mdi-information-outline:hover {
    color: royalblue;
    transition: all .4s ease;
}

#project_section #main #lists #list_container .list .col-2 input, 
#project_section #main #lists #complete_container #complete_list_container .list .col-2 input {
    height: 17px;
    width: 17px;
    cursor: pointer;
}

#project_section #main #lists #list_container .list .col-lg-10 input,
#project_section #main #lists #complete_container #complete_list_container .list .col-lg-10 input {
    color: #333;
    font-size: 14px;
}

#project_section #main #lists #list_container .list .col-lg-10 input:read-only,
#project_section #main #lists #complete_container #complete_list_container .list .col-lg-10 input:read-only {
    background-color: transparent;
}

#project_section #main #lists #list_container .list .col-2 i.mdi,
#project_section #main #lists #complete_container #complete_list_container .list .col-2 i.mdi {
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

body.mode-color #project_section #main #lists #list_container .list .col-2 i.mdi,
body.mode-color #project_section #main #lists #complete_container #complete_list_container .list .col-2 i.mdi {
    color: var(--lightgray);
}

@media screen and (max-width: 1000px) {
    .navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }
    #project_section #main {
        width: calc(100% - 30%);
    }
    #project_section #sidebar {
        width: 29%;
    }
    #project_section #main #insert {
        width: 50%;
        bottom: 30px;
        right: 25%;
        transform: translateX(25%);
    }
    #project_section #main #lists #list_container .mdi-format-list-checks {
        font-size: 40px;
    }
    .header {
        background-position: center 25px;
    }
}

@media screen and (max-width: 768px) {
    .navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 13.5px;
        text-align: center;
    }
    .navbar .container-md .navbar-collapse {
        position: fixed;
        top: -50%;
        left: 50%;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -9;
        background-color: var(--light);
        transform: translate(-50%,-50%);
        transition: top .5s ease;
    }
    .header-container .col {
        row-gap: 20px;
    }
    .header-container .col div {
        width: 70%;
        text-align: center;
    }
    #project_section #main {
        width: 100%;
    }
    #project_section #sidebar {
        height: 100%;
        width: 100%;
        background-color: var(--light);
        position: fixed;
        left: -800px;
        transition: left .5s ease;
    }
    #project_section #main #insert {
        width: 90%;
        bottom: 25px;
        right: 50%;
        transform: translateX(50%);
    }
    #project_section #main #insert .btn-group {
        height: 50px;
    }
    #project_section #sidebar #tags {
        padding-bottom: 3rem;
    }
    #feature {
        margin-top: 100px;
    }
    .header {
        background-position: -150px 25px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Display Mode */

.darkModeApp,
.lightModeApp {
    cursor: pointer;
    user-select: none;
}

.darkModeApp {
    background-color: var(--light);
    color: var(--gray);
}

.lightModeApp {
    background-color: var(--dark);
    color: var(--lightgray);
}

body.mode-color {
    color: #f5f5f5;
    background-color: var(--gray);
    transition: all .2s ease;
}


footer {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 130px;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

footer .mdi {
    font-size: 80px;
}

footer .card .form-floating label {
    color: #444;
    font-size: 14px;
}

footer .card .form-floating input,
footer .card .form-floating textarea {
    color: #333;
}

footer .card .form-floating input:focus,
footer .card .form-floating textarea:focus {
    border: 1.5px solid var(--main);
}

footer .card #rating_container .star_rating {
    cursor: pointer;
    color: #444;
}

footer .card #rating_container .star_rating.active {
    color: var(--main);
}

footer .card #rating_container .star_rating:hover {
    color: var(--main);
}




