@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --main: mediumaquamarine;
    --hover: rgb(77, 184, 148);;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f4f4f4;
    transition: all .3s ease;
}

.container-checkbox input {
    cursor: pointer;
    opacity: 0;
}

.container-checkbox .checkmark {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #eee;
}

.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-checkbox input:checked ~ .checkmark {
    background-color: var(--hover);
}

.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9.5px;
    top: 6px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

/* Custom Loader */
.custom-loader {
    width: 22px;
    height: 22px;
    display: grid;
    animation: s4 4s infinite;
}

.custom-loader::before,
.custom-loader::after {
    content:"";
    grid-area: 1/1;
    border:3px solid;
    border-radius: 50%;
    border-color:#FFFFFF #FFFFFF #0000 #0000;
    mix-blend-mode: darken;
    animation: s4 1s infinite linear;
}

.custom-loader::after {
    border-color:#0000 #0000 #fff #fff;
    animation-direction: reverse;
}

@keyframes s4{ 
    100%{transform: rotate(1turn)}
}

/* Navbar */
.navbar {
    z-index: 999;
    transition: all .5s ease;
}

.navbar .container-md {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand .h5 {
    color: var(--main);
}

.navbar-brand .mdi-leaf {
    color: var(--main);
    font-size: 12px;
    transform: translateY(-2px);
}

.navbar .container-md .navbar-toggler {
    background-color: var(--main);
    transition: all 0.3s ease-in;
}

.navbar .container-md .navbar-toggler .fa-chevron-down {
    font-size: 15px;
    color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar .container-md .navbar-toggler .fa-chevron-down:hover {
    color: white;
}

.navbar .container-md .navbar-toggler:hover {
    background-color: var(--hover);
}

.navbar .container-md .navbar-toggler:focus {
    box-shadow: unset;
    background-color: var(--hover);
}

.navbar .container-md .navbar-toggler:focus .fa-chevron-down {
    color: white;
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: var(--main);
    font-size: 14.5px;
    padding-bottom: 6px;
    margin-bottom: 3px;
    position: relative;
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    transition: width .4s ease;
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link:after {
    content: '';
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main);
}

.navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link.active:after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main);
}

.header-container {
    height: 580px;
}

.header-container .header-left .header-title {
    width: 600px;
    transform: translateY(-15px);
    display: flex;
    justify-content: center;
}

.header-container .header-left .w-100 .btn-explore {
    border: 2px solid var(--main);
    font-size: 13px;
    padding: 7px 40px;
    position: relative;
    text-transform: capitalize;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    outline: none;
    color: #555;
}

.header-container .header-left .w-100 .btn-explore span {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    background-color: var(--main);
    transition: width .8s ease 0s,
    height .8s ease 0s;
}

.header-container .header-left .w-100 .btn-explore:hover span {
    width: 500px;
    height: 500px;
}

.header-container .header-left .w-100 .btn-explore:hover {
    color: #eee;
}

.header-container .header-left .w-100 .btn-explore:focus {
    box-shadow: unset;
}

.header-container .header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container .header-right .card {
    height: 380px;
    width: 270px;
    background-color: white;
}

/* sidebar */
#project_section #sidebar {
    height: 100%;
    background-color: #fff;
    width: 20%;
}

#project_section #sidebar #search span input:focus {
    border: 1px solid var(--main);
}

#project_section #sidebar #search span input {
    padding-left: 35px;
    font-size: 14px;
    height: 40px;
    font-weight: normal;
    caret-color: var(--hover);
}

#project_section #sidebar #search span i {
    font-size: 12.5px;
    top: 50%;
    transform: translate(13px, -50%);
    color: gray;
}

#project_section #sidebar #tags {
    height: 535px;
}

#project_section #sidebar #tags #tag {
    cursor: pointer;
}

#project_section #sidebar #tags div .mdi-plus {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#project_section #sidebar #tags #list1 {
    height: 100%;
    /* overflow-y: scroll; */
    cursor: pointer;
}

#project_section #sidebar #backtohome a .mdi-home {
    font-size: 15px;
}

#project_section #sidebar #backtohome a .mdi-home, 
#project_section #sidebar #backtohome a small {
    color: var(--main);
}

#project_section #main {
    width: calc(100% - 21%);
    transition: width .3s ease;
}

#project_section #main #insert {
    width: 50%;
    position: fixed;
    bottom: 40px;
    right: 50%;
    transform: translateX(65%);
    display: none;
}

#project_section #main #insert .btn-group {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 55px;
}

#project_section #main #insert .btn-group input {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    caret-color: var(--hover);
    color: #444;
}

#project_section #main #insert .btn-group input:focus {
    border: 1px solid var(--hover);
}

#project_section #main #insert .btn-group button {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#project_section #main #insert .btn-group button i {
    display: block;
    font-size: 25px;
    transform: translateX(-1px);
}

#project_section #main #top .modal .modal-dialog .modal-content form .modal-body .col-form-label {
    font-size: 13.5px;
    letter-spacing: .3px;
}

#project_section #main #top .modal .modal-dialog .modal-content form .modal-body .form-control {
    font-size: 14px;
    color: #333;
    padding: 10px;
    caret-color: var(--main);
}

#project_section #main #top .modal .modal-dialog .modal-content form .modal-body .form-control:focus {
    border: 1px solid var(--main);
}

#project_section #main #top .modal .modal-dialog .modal-content .modal-header h1 {
    font-size: 18px;
    color: #333;
}

#project_section #main #top .modal .modal-dialog .modal-content .modal-footer button {
    font-size: 14px;
    letter-spacing: .5px;
}

#project_section #main #top .modal .modal-dialog .modal-content .modal-footer button:focus {
    box-shadow: unset;
}

#project_section #main #top #labels {
    background-color: #fff;
    width: 230px;
}

#project_section #main #top #recent_tag {
    background-color: #fff;
    width: 270px;
}

#project_section #main #lists #list_container .list,
#project_section #main #lists #complete_list_container .list {
    padding: 23px 10px;
    background-color: #fff;
}

#project_section #main #lists #list_container .list .col-1 input, 
#project_section #main #lists #complete_list_container .list .col-1 input {
    height: 17px;
    width: 17px;
    cursor: pointer;
}

#project_section #main #lists #list_container .list .col-10 input,
#project_section #main #lists #complete_list_container .list .col-10 input {
    color: #333;
    font-size: 15px;
}

#project_section #main #lists #list_container .list .col-10 input:read-only,
#project_section #main #lists #complete_list_container .list .col-10 input:read-only {
    background-color: transparent;
}

#project_section #main #lists #list_container .list .col-1 i.mdi,
#project_section #main #lists #complete_list_container .list .col-1 i.mdi {
    cursor: pointer;
}

#project_section #main #lists #list_container .list .col-1 i.mdi,
#project_section #main #lists #complete_list_container .list .col-1 i.mdi {
    font-size: 19.5px;
}

@media screen and (max-width: 1000px) {
    .navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .header-container .header-left .header-title {
        width: 100%;
    }
    .navbar .container-md .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-size: 13.5px;
        text-align: center;
    }
    .navbar .container-md .navbar-collapse {
        position: fixed;
        top: -50%;
        left: 50%;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -9;
        background-color: #fff;
        transform: translate(-50%,-50%);
        transition: top .5s ease;
    }
}


/* Display Mode */

.darkMode, .lightMode {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-20px, -30px);
    height: 58px;
    width: 58px;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.darkMode .fa-solid,
.lightMode .fa-solid {
    font-size: 23px;
    color: #ddd;
}

body.mode-color {
    color: #f5f5f5;
    background-color: #212121;
    transition: all .3s ease;
}

body.mode-color .header-container .header-left .w-100 .btn-explore {
    color: #ccc;
}

body.mode-color .header-container .header-left .w-100 .btn-explore:hover {
    color: #444;
}

body.mode-color .section .section-container .todoList-container .form-text .input-text {
    color: #ccc;
}

body.mode-color .navbar {
    background-color: #292b2c;
}

body.mode-color .list {
    color: #ddd;
}

